.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  font-family: 'Fjalla One', sans-serif;
  pointer-events: none;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}

.pink {
  background-color: pink;
}

body {
  font-family: 'Fjalla One', sans-serif;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  font-family: 'Fjalla One', sans-serif;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
